* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
  color: white;
  background-color: black;
  background-image: url('images/background.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
  text-shadow: 0 3px 5px #4f4fff;
}

h2 {
  text-align: center;
  text-shadow: 0 3px 5px #4f4fff;
}

article {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;

}

article h2 {
  text-align: left;
  text-shadow: none;
  font-size: 1.25em;
  background-color: rgba(12, 19, 109, 0.9);
  padding: 0.5em;
  margin: 0px;
}

footer {
  background-color: #111111;
  height: 80px;
  text-align: center;
  padding: 30px 0;
}

.content {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 0.5em;
}

.content p {
  margin: 0;
  margin-bottom: 1em;
  text-indent: 2em;
}